* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: ;
    width: 1440px;
    height: 491px;
}


