* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.header{
    background-color: #f1f0f1;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 190px;
}
.header-container{
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    padding-left: 25px;
}
.header-main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.header-control{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-search{
    display: flex;
    width: 552px;
    height: 32px;
}
.header-search-bar{
    display: flex;
    border-radius: 16px 0 0 16px;
    width: 522px;
    align-items: center;
    border: none;
    padding-left: 18px;
}
.header-search-bar::placeholder{
    color: rgb(105, 104, 104);
}
.header-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 0 16px 16px 0;
    background-color: #ea1c00;
    border: none;
}
.header-list-control-btn{
    display: flex;
    width: 700px;
    gap: 10px;
    align-items: center;
    position: relative;
}
.header-control-btn{
    display: flex;
    width: 130px;
    gap: 10px;
    align-items: center;
    border: none;
    font-size: 11px;
}
.header-SoSanPham{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 21px;
    border-radius: 50%;
    position: absolute;
    background-color: #ea1c00;
    top: -6px;
    left: 420px;
    color: white;
}
.header-menu{
    display: flex;
    height: 21px;
    padding-top: 7px;
}
.header-menu-btn{
    display: flex;
    gap: 10px;
    font-size: 13px;
    border: none;
    justify-content: center;
    align-items: center;
    height: 21px;
    color: #ea1c00;
    border-right: 2px solid #ea1c00;
}
.menu{
    display: flex;
    width: 1368px;
    height: 30px;
    gap: 10px;
    padding-left: 25px;
    align-items: center;
    padding-top: 20px;
}
.menu-DanhMucSanPham{
    display: flex;
    width: 204px;
    height: 34px;
    color: white;
    background-color: #505050;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.menu-btn{
    display: flex;
    height: 31px;
    width: 283px;
    border-radius: 5px;
    border: 1px solid black;
}
.menu-btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 31px;
    width: 283px;
    border-radius: 5px;
}
.menu-btn:hover a{ 
    color: white;
    background-color: #ea1c00;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-product{
    display: flex;
    height: 559px;
    width: 100%;
    background-color: #f1f0f1;
    align-items: center;
    padding-left: 25px;
    position: relative;
}
.group-product-list{
    display: flex;
    flex-direction: column;
    width: 203px;
    height: 544;
    background-color: white;
}

.group-product-link{
    display: flex;
    height: 34px;
    width: 203px;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
    gap: 10px;
}

.group-product-one{
    align-items: center;
    display: flex;
    height: 34px;
    width: 237px;

}
.tamgiac{
    display: none;
    height: 34px;
    width: 34px;
    border: 17px solid transparent;
    border-left: 17px solid #ea1c00
}
.group-product-link:hover.tamgiac{
     display: block;
}
.group-product-link:hover {
    background-color: #ea1c00;
    color: white;
} 

.group-product-one:hover .Submenu{
    display: block;
}
.Submenu{
    display: none;
    width: 1155px;
    height: 544px;
    background-color: white;
    left: 247px;
    position: absolute;
    top: 7px;
}


.product{
    display: flex;
    flex-direction: column;
    width: 1402px;
}
.product-xakho{
    display: flex;
    flex-direction: column;
    height: 404px;
}
.product-head{
    display: flex;
    align-items: center;
    color: white;
    background-color: #ea1c00;
    height: 44px;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
}
.product-all{
    position: absolute;
    color: white;
    right: 30px;
}
.product-head:hover a{
    color: #f3594d;
}
.product-list{
    display: flex;
    height: 352px;
    gap: 17px;
    margin-bottom: 30px;
}
.product-one{
    display: flex;
    flex-direction: column;
    border: 1px solid#e2dfdf;
}
.product-one:hover{
    border: 1px solid #f8e36e;
}
.product-one-inf{
    display: flex;
    position: relative;
    flex-direction: column;
}
.product-one-inf-name{
    display: flex;
    font-size: 16px;
    padding: 10px 0 0 10px;
}
.product-one-price-discount{
    display: flex;
    gap: 120px;
}
.product-one-price{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 30px;
}
.product-one-price-old{
    text-decoration: line-through;
    font-size: 14px;
    color: #858282;
}
.product-one-price-new{
    font-size: 19px;
    color: #ea1c00;
}

.Discount{
    display: flex;
    height: 51px;
    width: 53px;
    position: relative;
}
.Discount-number {
    position: absolute;
    top: 15px;
    left: 10px;
}
.product-pc{
    display: flex;
    flex-direction: column;
    height: 829px;
    margin-bottom: 10px;
}
.page-number{
    display: flex;
    height: 34px;
    gap: 5px;
    width: 1402px;
    padding-left: 25px;
    justify-content: center;
}
.page-number-btn{
    display: flex;
    border: 1px solid #e2dfdf;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    color: #72a8d7;
}
.page-number-btn:hover{
    background-color:  #f8e36e;
}  
.product-laptop{
    display: flex;
    flex-direction: column;
    height: 2514px;
}
.Subcribe{
    display: flex;
    height: 46px;
    width: 1440px;
    background-color: #dddddd;
    align-items: center;
    font-size: 16px;
    padding-left: 75px;
    gap: 500px;
}
.Subcribe-email{
    display: flex;
    width: 435px;
    height: 30px;
}
.Subcribe-email-bar{
    border: none;
    display: flex;
    align-items: center;
    width: 364px;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
}
.Subcribe-email-bar:hover{
    box-shadow: -1px -1px 15px -1px rgba(71,170,249,0.75);
}
.Subcribe-email-bar::placeholder{
    color: rgb(105, 104, 104)
}
.Subcribe-email-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ea1c00;
    border: none;
    width: 72px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
}