
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    width: 1440px;
    gap: 10px;
    background-color: #f1f0f1;
}
.header-container{
    display: flex;
    height: 70px;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px solid #cacaca;
}

.header-main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.header-control{
    display: flex;
}
.header-search{
    display: flex;
    width: 552px;
    height: 32px;
}
.header-search-bar{
    display: flex;
    border-radius: 16px 0 0 16px;
    text-align: end;
    width: 522px;
    align-items: center;
    border: none;
}
.header-search-button{
    width: 30px;
    border-radius: 0 16px 16px 0;
    background-color: #ea1c00;
    border: none;
}
.header-menu{
    display: flex;
}