body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    width: 1440px;
    gap: 10px;
    background-color: #f1f0f1;
}
.header-container{
    display: flex;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    padding-left: 25px;
}

.header-main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.header-control{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-search{
    display: flex;
    width: 552px;
    height: 32px;
}
.header-search-bar{
    display: flex;
    border-radius: 16px 0 0 16px;
    text-align: end;
    width: 522px;
    align-items: center;
    border: none;
}
.header-search-button{
    width: 30px;
    border-radius: 0 16px 16px 0;
    background-color: #ea1c00;
    border: none;
}
.header-list-control-btn{
    display: flex;
    height: 24px;
    width: 700px;
    gap: 10px;
    align-items: center;
    position: relative;
}
.header-control-btn{
    display: flex;
    width: 130px;
    gap: 10px;
    align-items: center;
    border: none;
    font-size: 11px;
}
.header-SoSanPham{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 21px;
    border-radius: 50%;
    position: absolute;
    background-color: #ea1c00;
    top: -6px;
    left: 420px;
    color: white;
}
.header-menu{
    display: flex;
    height: 21px;
    padding-top: 7px;
}
.header-menu-btn{
    display: flex;
    gap: 10px;
    font-size: 14px;
    border: none;
    justify-content: center;
    align-items: center;
    height: 21px;
    color: #ea1c00;
    border-right: 2px solid #ea1c00;
}
.menu{
    display: flex;
    width: 1368px;
    height: 52px;
    gap: 10px;
    padding-left: 25px;
}
.menu-DanhMucSanPham{
    display: flex;
    width: 204px;
    height: 34px;
    color: white;
    background-color: #505050;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 31px;
    width: 283px;
    border-radius: 5px;
}
.menu-btn:hover{
    color: white;
    background-color: #ea1c00;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 491px;
}
.p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.content_left {
    padding-left: 20px;
   
}
.span {
    margin-right: 12px;
    font-size: 14;
    font-weight: 700;
}
.span_1 {
    margin-right: 142px;
}
.span_2 {
    margin-right: 115px;
}
.support {
    margin-top: 10px;
    margin-bottom: 10px;
}
 .list_support p {
    color: #0655A6;
}
.footer_logo {
    width: 330px;
    height: 114px;
}
.p_2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #0655A6; 
}
.p_3 {
    color: #333333;
}
.p_4 {
    font-size: 16px;
    color: #0655A6;
}
.p_5 {
    margin-bottom: 10px;
}
.p_6 {
    color: #333333;
    margin-bottom: 10px;
}
.span_3 {
    color: #0655A6; 
}
.logo_footer {
    margin-top: 10px;
    margin-left: 100px;
}
.content_right {
    margin-right: 180px;
}






